<h1>All your book</h1>
<div class="col-md-12">
    <a href="/book/upload" class="btn btn-success">Upload a book for sell</a>
</div>
<div>
    {{#each books}}
        <div>
            <a href="/book/{{this.id}}">{{this.name}}</a>
        </div>
    {{/each}}
</div>