
<h3>Follow</h3>
<ul>
    {{#each follow}}
        <li>
            {{this}}
        </li>
    {{/each}}
</ul>
<h3>Follower</h3>
<ul>
    {{#each followedBy}}
        <li>
            {{this}}
        </li>
    {{/each}}
</ul>
